
@{
    ViewBag.Title = "Index";
}

<h2>About Us</h2>
<p>Game On Entertainment is a video gaming company that specializes in creating video games for people of all ages. 
    We are here to make our games fun, playable and inspire other gamers who aspire to be video game developers.</p>
<p>To enquire more about us, please email us at customerservice@gameonentertainment.com</p>

