@{
    ViewBag.Title = "Home Page";
}

<h2>Game On Entertainment</h2>

<h3>Knight Slayer</h3>
<p>
    Play as a knight and make your way through an island to collect gold and slay your enemies. Can you
    win without losing health or collecting the most gold? Play to find out!
</p>