@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>

<p>
    Game On Entertainment is a video gaming company that specializes in creating video games for people of all ages.
    We are here to make our games fun, playable and inspire other gamers who aspire to be video game developers.
</p>

<h3>Meet the Developers</h3>

<p>
    Name: Jonathan Long<br />
    Email: jlong12@dmacc.edu<br />
    Role: Game Developer
</p>

<p>
    Name: Rob Dunavan<br />
    Email: rrdunavan@dmacc.edu<br />
    Role: Game Developer
</p>


<p>To enquire more about us, please email us at customerservice@gameonentertainment.com</p>
