@{
    ViewBag.Title = "Home Page";
}

<h2>Game On Entertainment</h2>

<h3>California Gold Rush</h3>
<p>
    Play as a cowboy character and make your way through California to collect gold and avoid robbers and dangerous animals. Can you
    win without losing health or collecting the most gold? Play to find out!
</p>